<ion-header>
  <ion-toolbar>
    <ion-title>REGISTRO</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p> Formulario de registro para creación de cuenta</p>
  <form>
    <ion-list>
        <ion-item>
            <ion-label>Tipo ID</ion-label>
            <ion-select placeholder="Select One">
              <ion-select-option value="cc">Cedula de Ciudadania</ion-select-option>
              <ion-select-option value="ce">Cedula de Extranjeria</ion-select-option>
              <ion-select-option value="pp">Permiso de Permanencia</ion-select-option>
              <ion-select-option value="ps">Pasaporte</ion-select-option>
            </ion-select>
          </ion-item>

      <ion-item>
        <ion-label floating>Id</ion-label>
        <ion-imput type:"number" name:"id" clealInput="true" required></ion-imput>
      </ion-item>
  
      <ion-item>
        <ion-label floating>Nombres</ion-label>
        <ion-imput type:"text" name:"nombre" clealInput="true" required></ion-imput>
      </ion-item>
  
      <ion-item>
        <ion-label floating>Apellidos</ion-label>
        <ion-imput type:"text" name:"apellido" clealInput="true" required></ion-imput>
      </ion-item>
  
      <ion-item>
        <ion-label floating>Número Celular</ion-label>
        <ion-imput type:"number" name:"celular" clealInput="true" required></ion-imput>
      </ion-item>
  
      <ion-item>
        <ion-label floating>Correo Electrónico</ion-label>
        <ion-imput type:"email" name:"correo" clealInput="true" required></ion-imput>
      </ion-item>

      <ion-item>
          <ion-label floating>Contraseña</ion-label>
          <ion-imput type:"password" name:"contraseña" clealInput="true" required></ion-imput>
        </ion-item>

      <ion-item>
        <ion-label>Autorizo el uso de mi información</ion-label>
        <ion-checkbox required></ion-checkbox>
      </ion-item>
   </ion-list>

  
    <button type="submit" ion-button block full icon-left>
      <ion-icon name="send"></ion-icon>
      Crear Cuenta
    </button>
  </form>
</ion-content>
