<ion-header>
  <ion-toolbar color="dark">
    <ion-title> 
      <p align="center">PoliCash</p>
    </ion-title>
  </ion-toolbar>
</ion-header>
 
<ion-content color="dark">
    <p align="center">Transferencias</p>
  <ion-item color="dark">
    <ion-label position="floating">Monto a Transferir</ion-label>
    <ion-textarea></ion-textarea>
  </ion-item>
  <ion-item color="dark">
    <ion-label position="floating">Cuenta a Transferir</ion-label>
    <ion-textarea></ion-textarea>
  </ion-item>
  <ion-button (click)="presentAlert()"
  color="success" 
              expand="block">Transferir
                </ion-button>
   
       <ion-button expand="block">Regresar</ion-button>   
</ion-content>