<ion-header>
  <ion-toolbar>
    <ion-title>LISTADO DE TRANSACCIONES</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col>
        FECHA
      </ion-col>
      <ion-col>
        DESTINO
      </ion-col>
      <ion-col>
        VALOR
      </ion-col>  
    </ion-row>

    <ion-row>
        <ion-col>
          xxxxxx
        </ion-col>
        <ion-col>
          xxxxxx
        </ion-col>
        <ion-col>
          xxxxxx
        </ion-col>  
      </ion-row>
  </ion-grid>

  
  <ion-button color="success">Descargar</ion-button>
  
</ion-content>
