
<ion-content  class="ion-text-center" color="dark">
    <app-header></app-header>
    <p>      
      <ion-chip>       
        <ion-label color="success">Mi Saldo:  {{ cuenta.saldo }}</ion-label>        
        <ion-icon name="cash" color="success"></ion-icon>
      </ion-chip>      
    </p>
  <ion-button routerLink="/ahorrar" color="dark">AHORRAR</ion-button>
  <p></p>
  <ion-button routerLink="/retirar" color="dark">RETIRAR</ion-button>
  <p></p>
  <ion-button routerLink="/transferir" color="dark">TRANSFERIR</ion-button>
  <p></p>
  <ion-button routerLink="/pagar" color="dark">PAGAR</ion-button>
  <p></p>
  <ion-button routerLink="/movimientos" color="dark">MOVIMIENTOS</ion-button>
  <app-footer></app-footer>  

</ion-content>
