
<ion-content  class="ion-text-center" color="dark">
    <app-header></app-header>
    <ion-button routerLink="/ahorrar">AHORRAR</ion-button>
  <p></p>
  <ion-button routerLink="/retirar" color="light">RETIRAR</ion-button>
  <p></p>
  <ion-button routerLink="/transferir" color="secundary">TRANSFERIR</ion-button>
  <p></p>
  <ion-button routerLink="/pagar" color="danger">PAGAR</ion-button>
  <p></p>
  <ion-button routerLink="/movimientos" color="dark">MOVIMIENTOS</ion-button>
  <app-footer></app-footer>  

</ion-content>
