<ion-content class="ion-text-center" color="dark">
  <app-header></app-header>
  <ion-grid color="dark">
    <ion-row>
      <ion-col class="ion-padding">
        <ion-list>
          <ion-item color="dark">            
            <ion-select placeholder="Tipo Identificación">
              <ion-select-option value="cc"
                >Cedula de ciudadania</ion-select-option
              >
              <ion-select-option value="ce"
                >Cedula de ciudadania</ion-select-option
              >
              <ion-select-option value="ps">Pasaporte</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-no-padding">
        <ion-input placeholder="Numero Identificacion"></ion-input>
        <ion-input placeholder="Password" type="password"></ion-input>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="ion-padding">
        <ion-button shape="round" fill="outline">Ingresar</ion-button>
        <br />
        <br />

        <a href="#">Olvido contraseña</a>
        <br />
        <br />
        <a href="#">Registrarse</a>
      </ion-col>
    </ion-row>
  </ion-grid>
  <app-footer></app-footer>
</ion-content>
