<ion-header>
  <ion-toolbar>
    <ion-title>ahorrar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content text-center>
  <ion-grid>
    <ion-row>
      <ion-col class="ion-padding">
        <div>
          <ion-input placeholder="Monto a ahorrar"></ion-input>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-padding">
        <ion-button shape="round" fill="outline" (click)="ahorrar()">
          Ahorrar</ion-button
        >
        <br />
        <br />

        <a href="#">Regresar</a>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
