<ion-content class="ion-text-center" color="dark">
  <app-header></app-header>
  <ion-grid color="dark">
  <ion-row>
      <ion-col class="ion-padding"></ion-col>
     
    </ion-row>
    <p>Bienvenido al metodo de pago por Codigo QR, Para hacer el pago hacerca un dispositivo de lectura el cual e redireccinara al pago</p>
    <ion-row>
      <ion-col class="ion-no-padding">
          <ion-img src="assets/img/QR.png" style="width:45%; height:45%; text-align: center;"></ion-img>
      </ion-col>
    </ion-row>
    <ion-item>
        <ion-label position="floating">
          Escanear Recibo, Si tiene alguna Duda de clik 
        <a href="https://www.xataka.com/basics/que-es-un-codigo-qr-y-como-leerlo-con-el-movil">Aqui
        </a>
      </ion-label>
    </ion-item>    
  
  </ion-grid>
  <app-footer></app-footer>
</ion-content>
